
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    height: 70px;
    align-items: center;
}
body{
 width: 100%; 
}
header{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 18px;
    list-style: none;
    color: #6f6f6f;
    margin-left: 300px;
    margin-top: 100px;
}
nav ul li{
    color: rgb(255, 255, 255);
    font-weight: bold;
    
}
nav ul li:hover{
    color: rgba(255, 252, 252, 0.819);
    cursor: pointer;
}
.card{
    display: flex;
    align-items: center;
    gap: 25px;
}
.card p{
    color: white;
}
.card button{
    background-color: orange;
    border: none;
    padding: 20px 35px;
    font-weight: bold;
    cursor: pointer;
}
 nav img{
    width: 45px;
    height: 45px;
    object-fit: contain;
}
main{
    padding: 0px 100px;
    height: 100vh;
    gap:250px;
    background-image: url("https://i.ytimg.com/vi/NbCfjgEsCyw/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
main .left h1{
    position: absolute;
    left: 400px;
    background-color: orange;
    font-size: 40px;
    padding: 15px 60px;
}
main .right h1{
    font-size: 40px;
    background-color: black;
    color: white;
    padding: 15px 60px;
     position: absolute;
    right: 400px;
}

main .yellow{
    width: 80%;
    margin: 40px auto;
    background-color: rgba(183, 113, 20, 0.7);
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 55px;
    font-weight: bold;
    margin-top: 150px;
}
section{
    padding: 30px 100px;

}
section h2{
    text-align: center;
}
section .p{
    text-align: center;
    font-size: 18px;
    color: gray;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .box{
    width: 380px;
    height: 380px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    transition: 0.2s;
}
.container .box:hover{
    background-color: #5A98F2;
    color: white;
}